.posicion-boton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.formulario-ingresar{
    padding: 40px;
    background:#353535;
    margin-top:50px;
    border-radius:10px;
}

.titulo{
    text-align:center;
    color: white;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
