*{
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  margin: 0; 
}

img{
  display: block;
  width: 100%;
  max-height: 100%; 
}

.containeer{
  width: 100%;
  margin: auto; 
}


.flexbo{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:33px ;
}

.fondo{
  background:#353535;
}

