.MarginTop{
    margin-top: -25px;
    
  }
  
  #form-buscar >.form-group >.input-group > .form-control {
    height: 45px;
  }
  #form-buscar >.form-group >.input-group > .input-group-btn > .btn{
        height: 45px; 
        font-size: 18px;
        font-weight: 300; 
         
       
  }
  #form-buscar >.form-group >.input-group > .input-group-btn > .btn .glyphicon{
  margin-right:12px;   
  }    
  
  
  #form-buscar >.form-group >.input-group > .form-control {
    font-size: 18px;
    font-weight: 300; 
  }
  
  .color-btn{
    margin-top: -17px;
    margin-left: -5px;      
    background:white;
    color: white;
    border: 2px solid rgba(192, 191, 191, 0.918);
  }
  
  .color-btn:hover{
      cursor: pointer;
  }

  .shadoww-search{
    -webkit-box-shadow: -1px 7px 18px 2px rgba(128,124,128,1);
    -moz-box-shadow: -1px 7px 18px 2px rgba(128,124,128,1);
    box-shadow: -1px 7px 18px 2px rgba(128,124,128,1);
      
  
  }
  
  .border-radius-btn{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border: 1px solid rgb(170, 170, 170);
    
  }
  
  
  .search-icon{
    width: 30px;
  }
  