.tarjeta-contacto{
    background: #424242;
    padding: 20px;
    text-align: center;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
}

.img-contacto{
    margin: auto;
    margin-bottom: 20px;
}

.posicion-iconos{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

.iconos{
    font-size: 22px;
}


@media screen   
  and (min-device-width: 268px)   
  and (max-device-width: 460px)
  {
    .iconos{
        font-size: 15px;
    }   

    .tarjeta-contacto{
        font-size: 14px;
    }
}

@media screen   
  and (min-device-width: 360px)   
  and (max-device-width: 460px)
  {
    .tarjeta-contacto{
        font-size: 14px;
    }
}


@media screen   
  and (min-device-width: 268px)   
  and (max-device-width: 360px)
  {
    .tarjeta-contacto{
        font-size: 12px;
    }
}