.tx-botones{
          width: 122px
      }

.marginLeft{
  margin-left: 30px;  
  
}
.texto-bienvenida{
    
    font-size: 33px;
    color: white;

}

@media screen   
  and (min-device-width: 549px)   
  and (max-device-width: 992px)
  {
      .tx-botones{
          font-size: 1222px
      }
  .texto-bienvenida{    
    font-size: 20px;
    color: white;
    }
}


@media screen   
  and (min-device-width: 390px)   
  and (max-device-width: 549px)
  {
  .texto-bienvenida{    
    font-size: 15px;
    color: white;
    }
}


@media screen   
  and (min-device-width: 266px)   
  and (max-device-width: 390px)
  {
  .texto-bienvenida{    
    font-size: 12px;
    color: white;
    }
}
